@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #ffffff;
    padding: 20px 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

header .logo {
    color: #ffffff;
    font-size: 29px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

header .logo span {
    color: #f29200;
    font-weight: 500;
}

header.sticky .logo {
    color: #111111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 8px;
    transition: 0.5s;
}

header ul li a:hover,
header ul li a.active {
    background: #f29200;
    border-radius: 3px;
    color: #ffffff;
}

header.sticky ul li a:hover,
header.sticky ul li a.active {
    color: #ffffff;
}

header.sticky ul li a {
    color: #111111;
}

@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 20px;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 0px;
        left: -100%;
        display: block;
        padding: 150px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #111111;
        font-size: 20px;
        margin: 10px;
    }

    header ul li:hover a:hover,
    header ul li.active a {
        color: #ffffff;
    }

    header .logo {
        font-weight: 500;
    }

    .toggle {
        position: relative;
        width: 53px;
        height: 50px;
        background: #ffffff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.17);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        z-index: 1001;
    }

    .toggle span {
        position: absolute;
        width: 35px;
        height: 4px;
        background: #f29200;
        border-radius: 4px;
        transition: 0.5s;
        left: 8px;
    }

    .toggle span:nth-child(1) {
        transform: translateY(-14px);
        width: 25px;
        left: 8px;
    }

    .toggle span:nth-child(2) {
        transform: translateY(14px);
        width: 15px;
        left: 8px;
    }

    .toggle.active span:nth-child(1) {
        width: 40px;
        transform: translateY(0px) rotate(45deg);
        transition-delay: 0.125s;
        left: 5px;
    }

    .toggle.active span:nth-child(2) {
        width: 40px;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25s;
        left: 5px;
    }

    .toggle.active span:nth-child(3) {
        transform: translateX(60px);
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .menu {
        width: 100%;
        padding: 50px 0;
        overflow-y: scroll;
    }

    .menu::-webkit-scrollbar {
        display: none;
    }
}


.information {
    width: 100%;
    height: 100vh;
    background: #203636;
}

.information .row {
    width: 100%;
    height: 100vh;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information .row .fieldLeft {
    width: 30%;
}

.information .row .fieldRight {
    width: 70%;
    margin-left: 20px;
}

.information .row .fieldRight h1 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.information .row .fieldRight h1 span {
    color: #f29200;
    font-size: 30px;
}

.information .row .fieldRight h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #ffffff;
}

.information .row .fieldRight p {
    margin-bottom: 18px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 300;
}

.information .row .fieldRight .btn {
    background: #f29200;
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;

}

.information .row .fieldRight .btn:hover {
    letter-spacing: 7px;
}

.information .row .fieldLeft .fieldImg {
    height: 100%;
    width: 70%;
    position: relative;
}

.information .row .fieldLeft .fieldImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .information {
        min-height: 100vh;
    }

    .information .row {
        min-height: 100vh;
        padding: 0px 20px;
    }

    .information .row .fieldRight {
        margin-left: 5px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .information {
        height: 100%;
    }

    .information .row {
        width: 100%;
        height: 100%;
        padding: 20px 20px 60px 20px;
        display: block;
    }

    .information .row .fieldLeft {
        width: 100%;
    }

    .information .row .fieldLeft .fieldImg {
        width: 130px;
        height: 235px;
        margin: 0 auto;
    }

    .information .row .fieldRight {
        width: 100%;
        margin-left: 0px;
    }
}




.information .row .fieldRight .sci {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    object-fit: cover;
}

.information .row .fieldRight .sci li {
    list-style: none;
}

.information .row .fieldRight .sci li i {
    color: #ffffff;
    font-size: 70px;
    transform: scale(0.5);
    transition: 0.5s;
}

.information .row .fieldRight .sci li i:hover {
    opacity: 1;
    color: #f29200;
}