@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #ffffff;
    padding: 20px 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

header .logo {
    color: #ffffff;
    font-size: 29px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

header .logo span {
    color: #f29200;
    font-weight: 500;
}

header.sticky .logo {
    color: #111111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 8px;
    transition: 0.5s;
}

header ul li a:hover,
header ul li a.active {
    background: #f29200;
    border-radius: 3px;
    color: #ffffff;
}

header.sticky ul li a:hover,
header.sticky ul li a.active {
    color: #ffffff;
}

header.sticky ul li a {
    color: #111111;
}

@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 20px;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 0px;
        left: -100%;
        display: block;
        padding: 150px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #111111;
        font-size: 20px;
        margin: 10px;
    }

    header ul li:hover a:hover,
    header ul li.active a {
        color: #ffffff;
    }

    header .logo {
        font-weight: 500;
    }

    .toggle {
        position: relative;
        width: 53px;
        height: 50px;
        background: #ffffff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.17);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        z-index: 1001;
    }

    .toggle span {
        position: absolute;
        width: 35px;
        height: 4px;
        background: #f29200;
        border-radius: 4px;
        transition: 0.5s;
        left: 8px;
    }

    .toggle span:nth-child(1) {
        transform: translateY(-14px);
        width: 25px;
        left: 8px;
    }

    .toggle span:nth-child(2) {
        transform: translateY(14px);
        width: 15px;
        left: 8px;
    }

    .toggle.active span:nth-child(1) {
        width: 40px;
        transform: translateY(0px) rotate(45deg);
        transition-delay: 0.125s;
        left: 5px;
    }

    .toggle.active span:nth-child(2) {
        width: 40px;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25s;
        left: 5px;
    }

    .toggle.active span:nth-child(3) {
        transform: translateX(60px);
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .menu {
        width: 100%;
        padding: 50px 0;
        overflow-y: scroll;
    }

    .menu::-webkit-scrollbar {
        display: none;
    }
}

.titleField h1 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.titleField h1 span {
    color: #f29200;
    font-size: 30px;
}

.introduction {
    min-height: 100vh;
    width: 100%;
    background-color: #203636;
    display: flex;
    flex: none;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
}

.introduction::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 300px;
    background-color: #2f4f4f;
    transition: all 0.5s ease-out;
}

.introduction .container {
    background: #203636;
    text-align: left;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
    width: calc(100% - 200px);
    height: 100%;
    z-index: 5;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    margin: 150px 0px 50px 0px;
}

.introduction.sticky .container {
    width: calc(100% - 80px);
}

.introduction .container .fieldImg2 {
    height: 350px;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.introduction .container .fieldImg2::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: linear-gradient(transparent, #203636 80%);
}

.introduction .container .fieldImg2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.introduction .container .fieldContainer .title {
    z-index: 10;
    justify-content: right;
    text-align: left;
    display: block;
    margin: 0px 10px 30px 10px;
    width: 100%;
    transition: all 0.5s ease-out;
}

.introduction .container .fieldContainer .title h1 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
}

.introduction .container .fieldContainer .title p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 5px;
    /* margin-right: 10px; */
}

.introduction .container .fieldContainer .cardNovo .row {
    width: 100%;
    display: flex;
}

.introduction .container .fieldContainer .cardNovo .row .col50 {
    width: 50%;
    padding: 10px;
}

.introduction .container .fieldContainer .cardNovo .row .coll50 {
    width: 50%;
    display: grid;
    padding: 10px;
    grid-row-gap: 15px;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card,
.introduction .container .fieldContainer .cardNovo .row .coll50 .card {
    width: 100%;
    height: 100%;
    background: #203636;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20), 0 3px 4px 0 rgba(0, 0, 0, 0.40);
    border-radius: 3px;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldImg,
.introduction .container .fieldContainer .cardNovo .row .coll50 .card .fieldImg {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldImg{
    height: auto;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldImg img,
.introduction .container .fieldContainer .cardNovo .row .coll50 .card .fieldImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldImg img:hover,
.introduction .container .fieldContainer .cardNovo .row .coll50 .card .fieldImg img:hover {
    transform: scale(1.1);
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldText,
.introduction .container .fieldContainer .cardNovo .row .coll50 .card .fieldText {
    padding: 20px;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldText h1,
.introduction .container .fieldContainer .cardNovo .row .coll50 .card .fieldText h1 {
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldText p,
.introduction .container .fieldContainer .cardNovo .row .coll50 .card .fieldText p {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldText .fieldBTN a,
.introduction .container .fieldContainer .cardNovo .row .coll50 .card .fieldText .fieldBTN a {
    background: #f29200;
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
    text-align: center;
    width: 100%;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldText .fieldBTN a:nth-child(1),
.introduction .container .fieldContainer .cardNovo .row .coll50 .card .fieldText .fieldBTN a:nth-child(1) {
    margin-right: 10px;
}

.introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldText .fieldBTN a:hover,
.introduction .container .fieldContainer .cardNovo .row .coll50 .card .fieldText .fieldBTN a:hover {
    letter-spacing: 5px;
}

.introduction .container .fieldContainer .projects {
    width: 100%;
    min-height: 100vh;
    background: #203636;
    padding: 80px 10px 60px 10px;
}

.introduction .container .fieldContainer .projects .row {
    display: flex;
}

.introduction .container .fieldContainer .projects .row .col33 {
    width: 33%;
    margin-bottom: 20px;
}

.introduction .container .fieldContainer .projects .row .col33:nth-child(1) {
    margin-right: 20px;
}

.introduction .container .fieldContainer .projects .row .col33:nth-last-child(1) {
    margin-left: 20px;
}

.introduction .container .fieldContainer .projects .row .col33 .card {
    width: 100%;
    height: 100%;
    background: #203636;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20), 0 3px 4px 0 rgba(0, 0, 0, 0.40);
    border-radius: 3px;
    position: relative;
    display: flex;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText {
    display: flex;
    flex-direction: column;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText .fieldImg {
    width: 100%;
    height: 250px;
    color: #ffffff;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText .fieldImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText .fieldImg img:hover {
    transform: scale(1.1);
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText h1 {
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 20px 20px 10px 20px;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText p {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    flex: auto;
    margin: 0px 20px 10px 20px;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText p span {
    float: left;
    margin-top: 15px;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText .fieldBTN {
    margin: 0px 20px 20px 20px;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText .fieldBTN a {
    background: #f29200;
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
    text-align: center;
    width: 100%;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText .fieldBTN a:nth-child(1) {
    margin-right: 10px;
}

.introduction .container .fieldContainer .projects .row .col33 .card .fieldText .fieldBTN a:hover {
    letter-spacing: 5px;
}

@media (max-width: 991px) {
    .introduction::before {
        height: 250px;
    }

    .introduction.sticky .container,
    .introduction .container {
        width: calc(100% - 40px);
        margin: 110px 0px 50px 0px;
    }

    .introduction .container .fieldImg2 {
        height: 300px;
    }

    .introduction .container .fieldContainer .cardNovo .row {
        display: block;
    }

    .introduction .container .fieldContainer .cardNovo .row .col50 {
        width: 100%;
    }

    .introduction .container .fieldContainer .cardNovo .row .coll50 {
        width: 100%;
        display: flex;
        grid-row-gap: 0px;
    }

    .introduction .container .fieldContainer .cardNovo .row .coll50 .card:nth-child(1) {
        margin-right: 10px;
    }

    .introduction .container .fieldContainer .cardNovo .row .col50 .card .fieldImg{
        height: 250px;
    }

    .introduction .container .fieldContainer .projects .row .col33 .card .fieldText h1 {
        margin: 10px;
    }

    .introduction .container .fieldContainer .projects .row .col33 .card .fieldText p {
        margin: 0px 10px 10px 10px;
    }

    .introduction .container .fieldContainer .projects .row .col33 .card .fieldText .fieldBTN {
        margin: 0px 10px 10px 10px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
    .introduction .container .fieldContainer .projects .row {
        display: block;
    }

    .introduction .container .fieldContainer .projects .row .col33 {
        width: 100%;
        margin-bottom: 40px;
    }

    .introduction .container .fieldContainer .projects .row .col33:nth-child(1) {
        margin-right: 0px;
    }

    .introduction .container .fieldContainer .projects .row .col33:nth-last-child(1) {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .introduction .title {
        justify-content: flex-start;
        text-align: left;
        display: block;
        margin: 60px auto 35px;
        width: 95%;
    }

    .introduction .title h1 {
        margin-right: 0px;
        font-size: 25px;
    }

    .introduction::before {
        height: 200px;
    }

    .introduction.sticky .container,
    .introduction .container {
        width: 95%;
        margin: 120px 0px 50px 0px;
    }

    .introduction .container .fieldImg2 {
        height: 160px;
    }

    .introduction .container .fieldContainer .title {
        text-align: center;
        display: block;
        margin: 0px 0px 25px 0px;
        padding: 0px 7px 0px 7px;
    }

    .introduction .container .fieldContainer .cardNovo .row .coll50 {
        display: block;
    }

    .introduction .container .fieldContainer .cardNovo .row .coll50 .card:nth-child(1) {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .introduction .container .fieldContainer .projects {
        padding: 40px 10px 60px 10px;
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 40px;
    background: #2f4f4f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 5;
    flex: none;
    flex-direction: column;
    overflow: hidden;
}

footer .container {
    display: flex;
}

footer .container .about {
    width: 80%;
}

footer .container .fieldBTN {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .fieldBTN .btn {
    background: #f29200;
    color: #ffffff;
    padding: 10px 29px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
    font-size: 15px;
}

footer .fieldBTN .btn:hover {
    letter-spacing: 5px;
}

footer .container h2 {
    position: relative;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

footer .container h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f29200;
}

footer p {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #ffffff;
}

footer .container .links {
    position: relative;
    width: 20%;
}

footer .container .links ul li {
    list-style: none;
}

footer .container .links ul li a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .container .links ul li a:hover {
    color: #f29200;
}

.copyrightText {
    width: 100%;
    background: #203636;
    padding: 25px 100px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    z-index: 6;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: none;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 991px) {
    footer {
        padding: 50px 20px 10px 20px;
    }

    footer .container {
        display: block;
    }

    footer .container .about {
        width: 100%;
    }

    footer .container .links {
        display: none;
    }

    .copyrightText {
        padding: 25px 25px 25px 25px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .footer {
        padding: 30px 20px 10px 20px;
    }

    footer .container .fieldBTN {
        display: grid;
    }

    footer .container .fieldBTN .btn {
        text-align: center;
    }

    footer .container .fieldBTN .btn:hover {
        letter-spacing: 4px;
    }

    .copyrightText {
        padding: 25px 25px 25px 25px;
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    footer .container .fieldBTN .btn {
        margin-top: 10px;
    }
}