@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #ffffff;
    padding: 20px 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

header .logo {
    color: #ffffff;
    font-size: 29px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

header .logo span {
    color: #f29200;
    font-weight: 500;
}

header.sticky .logo {
    color: #111111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 8px;
    transition: 0.5s;
}

header ul li a:hover,
header ul li a.active {
    background: #f29200;
    border-radius: 3px;
    color: #ffffff;
}

header.sticky ul li a:hover,
header.sticky ul li a.active {
    color: #ffffff;
}

header.sticky ul li a {
    color: #111111;
}

@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 20px;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 0px;
        left: -100%;
        display: block;
        padding: 150px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #111111;
        font-size: 20px;
        margin: 10px;
    }

    header ul li:hover a:hover,
    header ul li.active a {
        color: #ffffff;
    }

    header .logo {
        font-weight: 500;
    }

    .toggle {
        position: relative;
        width: 53px;
        height: 50px;
        background: #ffffff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.17);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        z-index: 1001;
    }

    .toggle span {
        position: absolute;
        width: 35px;
        height: 4px;
        background: #f29200;
        border-radius: 4px;
        transition: 0.5s;
        left: 8px;
    }

    .toggle span:nth-child(1) {
        transform: translateY(-14px);
        width: 25px;
        left: 8px;
    }

    .toggle span:nth-child(2) {
        transform: translateY(14px);
        width: 15px;
        left: 8px;
    }

    .toggle.active span:nth-child(1) {
        width: 40px;
        transform: translateY(0px) rotate(45deg);
        transition-delay: 0.125s;
        left: 5px;
    }

    .toggle.active span:nth-child(2) {
        width: 40px;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25s;
        left: 5px;
    }

    .toggle.active span:nth-child(3) {
        transform: translateX(60px);
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .menu {
        width: 100%;
        padding: 50px 0;
        overflow-y: scroll;
    }

    .menu::-webkit-scrollbar {
        display: none;
    }
}

.introduction {
    width: 100%;
    height: 100vh;
    background: #2f4f4f;
}

.introduction .row {
    width: 100%;
    height: 100vh;
    padding: 120px 100px 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
}

.introduction.sticky .row {
    padding: 120px 40px 20px 40px;
}

.introduction .row .fieldLeft {
    width: 80%;
    height: 100%;
    background: #203636;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
}

.introduction .row .fieldRight {
    width: 20%;
    height: 100%;
}

.introduction .row .fieldRight .slidesWithImageList {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.introduction .row .fieldRight .slidesWithImageList .cardSlides {
    padding: 20px;
    background: #2f4f4f;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
}

.introduction .row .fieldRight .slidesWithImageList .cardSlides:hover {
    background: #203636;
}


.introduction .row .fieldRight .slidesWithImageList .cardSlides.active {
    background: #20363660;
    overflow: hidden;
}

.introduction .row .fieldRight .slidesWithImageList .cardSlides.active:hover {
    background: #20363660;
}

.introduction .row .fieldRight .slidesWithImageList .cardSlides.active::before {
    content: '';
    background: #203636;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease;
    border-radius: 10px;
    animation: passSlideEffect 30s infinite linear;
}

@keyframes passSlideEffect {
    0% {
        width: 0%;
        opacity: 0%;
    }

    8% {
        opacity: 100%;
    }

    100% {
        width: 100%;
    }
}

.introduction .row .fieldRight .slidesWithImageList .cardSlides .fieldImg {
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 2;
    margin-right: 5px;
    border-radius: 10px;
}

.introduction .row .fieldRight .slidesWithImageList .cardSlides .fieldImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.introduction .row .fieldRight .slidesWithImageList .cardSlides h1 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    z-index: 2;
}

.introduction .row .fieldLeft .fieldSlidesImage,
.introduction .row .fieldLeft .fieldSlidesImageSecond {
    position: relative;
    display: none;
    border-radius: 10px;
}

.introduction .row .fieldLeft .fieldSlidesImageSecond {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.introduction .row .fieldLeft .fieldSlidesImage.active,
.introduction .row .fieldLeft .fieldSlidesImageSecond.active {
    display: block;
}

.introduction .row .fieldLeft .fieldSlidesImage h1 {
    color: #ffffff;
    font-size: 18px;
    z-index: 2;
    font-weight: 400;
    margin-bottom: 2px;
}

.introduction .row .fieldLeft .fieldSlidesImage h1 span {
    color: #f29200;
    font-weight: 600;
}

.introduction .row .fieldLeft .fieldSlidesImage h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}

.introduction .row .fieldLeft .fieldSlidesImage .writingEffect {
    display: flex;
    width: 100%;
    background: #203636;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.introduction .row .fieldLeft .fieldSlidesImage .writingEffect h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.introduction .row .fieldLeft .fieldSlidesImage .writingEffect ul {
    margin-left: 5px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

.introduction .row .fieldLeft .fieldSlidesImage .writingEffect ul li {
    color: #f29200;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    position: relative;
    top: 0;
    animation: slide 16s steps(4) infinite;
}

.introduction .row .fieldLeft .fieldSlidesImage .writingEffect ul li span {
    position: relative;
    text-align: left;
}

.introduction .row .fieldLeft .fieldSlidesImage .writingEffect ul li span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    border-left: 3px solid #f29200;
    animation: typing 4s steps(10) infinite;
    background: #203636;
}

@keyframes slide {
    100% {
        top: -120px;
    }
}

@keyframes typing {
    50% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }

    100% {
        left: 0%;
        margin: 0;
    }
}

.introduction .row .fieldLeft .fieldSlidesImage .btn {
    background: #f29200;
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}

.introduction .row .fieldLeft .fieldSlidesImage .btn:hover {
    letter-spacing: 7px;
}

.introduction .row .fieldLeft .fieldSlidesImage .sci {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 6;
    object-fit: cover;
}

.introduction .row .fieldLeft .fieldSlidesImage .sci li {
    list-style: none;
}

.introduction .row .fieldLeft .fieldSlidesImage .sci li i {
    color: #ffffff;
    font-size: 70px;
    transform: scale(0.5);
    transition: 0.5s;
}

.introduction .row .fieldLeft .fieldSlidesImage .sci li i:hover {
    opacity: 1;
    color: #f29200;
}

.introduction .row .fieldLeft .fieldSlidesImageSecond .fieldImg {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}

.introduction .row .fieldLeft .fieldSlidesImageSecond .fieldImg::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    backdrop-filter: blur(15px);
    background: #00000030;
    transition: all 0.5s ease-out;
    z-index: 3;
}

.introduction .row .fieldLeft .fieldSlidesImageSecond:hover .fieldImg::before {
    width: 100%;
    height: 100vh;
}

.introduction .row .fieldLeft .fieldSlidesImageSecond:hover .fieldImg img {
    transform: scale(1.1);
}

.introduction .row .fieldLeft .fieldSlidesImageSecond .fieldImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}

.introduction .row .fieldLeft .fieldSlidesText {
    position: absolute;
    bottom: 0;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.introduction .row .fieldLeft .fieldSlidesText div {
    display: none;
    transition: 0.5s ease-in-out;
    transition: 1s;
    margin-bottom: 30px;
}

.introduction .row .fieldLeft .fieldSlidesText div.active {
    display: initial;
    transition: all 1s ease-out;
}

.introduction .row .fieldLeft .fieldSlidesText div h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    transition: all 1s ease-out;
}

.introduction .row .fieldLeft .fieldSlidesText div p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
    transition: all 1s ease-out;
}

.introduction .row .fieldLeft .fieldSlidesText div a {
    background: #f29200;
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}

.introduction .row .fieldLeft .fieldSlidesText div a:hover {
    letter-spacing: 7px;
}

.introduction .row .fieldRight .slidesListWithBar {
    position: relative;
    display: none;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.introduction .row .fieldRight .slidesListWithBar .cardSlidesBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction .row .fieldRight .slidesListWithBar .cardSlidesBar div {
    height: 8px;
    width: 40px;
    background: #f9f9f9;
    margin: 5px;
    cursor: pointer;
}

.introduction .row .fieldRight .slidesListWithBar .cardSlidesBar div.active {
    background: #f29200;
}

@media (max-width: 999px) {
    .introduction {
        min-height: 100vh;
    }

    .introduction.sticky .row,
    .introduction .row {
        min-height: 100vh;
        padding: 100px 20px 20px 20px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .introduction .row .fieldLeft {
        width: 100%;
        height: 80%;
        margin-right: 0px;
    }

    .introduction .row .fieldRight {
        width: 100%;
        height: 0%;
        margin-top: 30px;
    }

    .introduction .row .fieldRight .slidesWithImageList {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .introduction .row .fieldRight .slidesWithImageList .cardSlides {
        margin: 0 5px;
    }

    .introduction .row .fieldRight .slidesWithImageList .cardSlides:nth-child(1) {
        margin: 0;
        margin-right: 5px;
    }

    .introduction .row .fieldRight .slidesWithImageList .cardSlides:nth-child(5) {
        margin: 0;
        margin-left: 5px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
    .introduction .row .fieldLeft {
        overflow: hidden;
        width: 100%;
        height: 90%;
    }

    .introduction .row .fieldLeft .fieldSlidesText {
        top: 0%;
        padding: 0 10px;
    }

    .introduction .row .fieldLeft .fieldSlidesImageSecond .fieldImg::before {
        height: 100vh;
        backdrop-filter: blur(20px);
        background: #00000030;
    }

    .introduction .row .fieldLeft .fieldSlidesImageSecond:hover .fieldImg::before img {
        height: 100%;
    }

    .introduction .row .fieldLeft .fieldSlidesImageSecond:hover .fieldImg img {
        height: 100%;
    }

    .introduction .row .fieldLeft .fieldSlidesImage .btn:hover {
        letter-spacing: 4px;
    }

    .introduction .row .fieldLeft .fieldSlidesText div a:hover {
        letter-spacing: 4px;
        margin-bottom: 0;
    }

    .introduction .row .fieldRight .slidesWithImageList {
        display: none;
    }

    .introduction .row .fieldRight .slidesListWithBar {
        display: flex;
    }
}

.titleField h1 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.titleField h1 span {
    color: #f29200;
    font-size: 30px;
}

.information {
    width: 100%;
    height: 100vh;
    background: #203636;
}

.information .row {
    width: 100%;
    height: 100vh;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information .row .fieldLeft {
    width: 30%;
}

.information .row .fieldRight {
    width: 70%;
    margin-left: 20px;
}

.information .row .fieldRight h1 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.information .row .fieldRight h1 span {
    color: #f29200;
    font-size: 30px;
}

.information .row .fieldRight h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #ffffff;
}

.information .row .fieldRight p {
    margin-bottom: 18px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 300;
}

.information .row .fieldRight .btn {
    background: #f29200;
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;

}

.information .row .fieldRight .btn:hover {
    letter-spacing: 7px;
}

.information .row .fieldLeft .fieldImg {
    height: 100%;
    width: 70%;
    position: relative;
}

.information .row .fieldLeft .fieldImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .information {
        min-height: 100vh;
    }

    .information .row {
        min-height: 100vh;
        padding: 0px 20px;
    }

    .information .row .fieldRight {
        margin-left: 5px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .information {
        height: 100%;
    }

    .information .row {
        width: 100%;
        height: 100%;
        padding: 20px 20px 60px 20px;
        display: block;
    }

    .information .row .fieldLeft {
        width: 100%;
    }

    .information .row .fieldLeft .fieldImg {
        width: 130px;
        height: 235px;
        margin: 0 auto;
    }

    .information .row .fieldRight {
        width: 100%;
        margin-left: 0px;
    }
}

.information .row .fieldRight .sci {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    object-fit: cover;
}

.information .row .fieldRight .sci li {
    list-style: none;
}

.information .row .fieldRight .sci li i {
    color: #ffffff;
    font-size: 35px;
    transition: all 0.5s ease-out;
    margin: 15px 15px 0px 0px;
}

.information .row .fieldRight .sci li i:hover {
    opacity: 1;
    color: #f29200;
}

.formation {
    width: 100%;
    min-height: 100vh;
    padding: 80px 40px;
    background: #2f4f4f;
}

.formation .container {
    border-left: 2px solid #ffffff;
    padding: 0 20px 0 30px;
}

.formation .container .card {
    background-color: #2f4f4f;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid #ffffff;
    line-height: 1.7;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
}

.formation .container .card::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f29200;
    border: 3px solid #ffffff;
    position: absolute;
    top: 10px;
    left: -40px;
}

.formation .container .card::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}

.formation .container .card .texth1 {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.formation .container .card .texth2 {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}

.formation .container .card .texth3 {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}

@media (max-width: 991px) {
    .formation {
        padding: 40px 20px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .formation {
        padding: 40px 20px 40px 20px;
    }
}

.projects {
    width: 100%;
    min-height: 100vh;
    background: #203636;
    padding: 80px 40px;
}

.projects a {
    background: #f29200;
    color: #ffffff;
    padding: 20px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.5s;
    text-align: center;
    width: 100%;
}

.projects a:hover {
    letter-spacing: 5px;
}

.projects .row {
    display: flex;
}

.projects .row .col33 {
    width: 32%;
    margin-bottom: 20px;
}

.projects .row .col33:nth-child(1) {
    margin-right: 20px;
}

.projects .row .col33:nth-last-child(1) {
    margin-left: 20px;
}

.projects .row .col33 .card {
    width: 100%;
    height: 100%;
    background: #203636;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20), 0 3px 4px 0 rgba(0, 0, 0, 0.40);
    border-radius: 3px;
    position: relative;
    display: flex;
}

.projects .row .col33 .card .fieldText {
    display: flex;
    flex-direction: column;
}

.projects .row .col33 .card .fieldText .fieldImg {
    width: 100%;
    height: 250px;
    color: #ffffff;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
}

.projects .row .col33 .card .fieldText .fieldImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
}

.projects .row .col33 .card .fieldText .fieldImg img:hover {
    transform: scale(1.1);
}

.projects .row .col33 .card .fieldText h1 {
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 20px 20px 10px 20px;
}

.projects .row .col33 .card .fieldText p {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    flex: auto;
    margin: 0px 20px 10px 20px;
}

.projects .row .col33 .card .fieldText p span {
    float: left;
    margin-top: 15px;
}

.projects .row .col33 .card .fieldText .fieldBTN {
    margin: 0px 20px 20px 20px;
}

.projects .row .col33 .card .fieldText .fieldBTN a {
    background: #f29200;
    color: #ffffff;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
    text-align: center;
    width: 100%;
}

.projects .row .col33 .card .fieldText .fieldBTN a:nth-child(1) {
    margin-right: 10px;
}

.projects .row .col33 .card .fieldText .fieldBTN a:hover {
    letter-spacing: 5px;
}

@media (max-width: 991px) {
    .projects {
        padding: 40px 20px;
    }

    .projects .row .col33 .card .fieldText h1 {
        margin: 10px;
    }

    .projects .row .col33 .card .fieldText p {
        margin: 0px 10px 10px 10px;
    }

    .projects .row .col33 .card .fieldText .fieldBTN {
        margin: 0px 10px 10px 10px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .projects .row {
        display: block;
    }

    .projects .row .col33 {
        width: 100%;
        margin-bottom: 40px;
    }

    .projects .row .col33:nth-child(1) {
        margin-right: 0px;
    }

    .projects .row .col33:nth-last-child(1) {
        margin-left: 0px;
    }
}

.skills {
    width: 100%;
    min-height: 100vh;
    padding: 80px 40px;
    background: #2f4f4f;
    cursor: default;
}

.skills .row {
    display: flex;
}

.skills .row .col33 {
    width: 32%;
    margin-bottom: 20px;
}

.skills .row .col33:nth-child(1) {
    margin-right: 20px;
}

.skills .row .col33:nth-last-child(1) {
    margin-left: 20px;
}

.skills .row .col33 .container {
    padding: 40px 20px;
    width: 100%;
    transition: 0.5s;
    text-align: center;
    background: #ffffff;
    height: 100%;
}

.skills .row .col33 .container:hover {
    background: #000000;
}

.skills .row .col33 .container i {
    font-size: 60px;
    max-width: 80px;
    transition: 0.5s;
}

.skills .row .col33 .container:hover i {
    filter: invert(1);
}

.skills .row .col33 .container h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}

.skills .row .col33 .container:hover h2 {
    color: #ffffff;
}

.skills .row .col33 .container p {
    margin: 0;
    transition: 0.5s;
}

.skills .row .col33 .container:hover p {
    color: #ffffff
}

@media (max-width: 991px) {
    .skills {
        padding: 40px 20px;
    }

}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .skills .row {
        display: block;
    }

    .skills .row .col33 {
        width: 100%;
        margin-bottom: 40px;
    }

    .skills .row .col33:nth-child(1) {
        margin-right: 0px;
    }

    .skills .row .col33:nth-last-child(1) {
        margin-left: 0px;
    }

}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #203636;
}

.contact .container {
    padding: 0px 40px;
    width: 100%;
}

.contact .container .row {
    position: relative;
    width: 100%;
    display: flex;
}

.contact .container .row .col50 {
    position: relative;
    width: 50%;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.contact .container .row .col50:nth-child(1) {
    margin-right: 20px;
}

.contact .container .row .col100 {
    position: relative;
    width: 100%;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.contact .container .row .col50 .inputBox,
.contact .container .row .col100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #f29200
}

.contact .container .row .col50 .inputBox input,
.contact .container .row .col100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
    z-index: 1;
    color: #ffffff;
}

.contact .container .row .col50 .inputBox .text,
.contact .container .row .col100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.contact .container .row .col50 .inputBox input:focus+.text,
.contact .container .row .col50 .inputBox input:valid+.text {
    top: -35px;
}
.contact .container .row .col50 .inputBox .line,
.contact .container .row .col100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #f29200;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.contact .container .row .col50 .inputBox input:focus~.line,
.contact .container .row .col50 .inputBox input:valid~.line {
    height: 100%;
}

.contact .container .row .col100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.contact .container .row .col100 .inputBox.textarea textarea {
    height: 80%;
    resize: none;
}

.contact .container .row .col100 .inputBox textarea:focus+.text,
.contact .container .row .col100 .inputBox textarea:valid+.text {
    top: -35px;
}

.contact .container .row .col100 .inputBox textarea:focus~.line,
.contact .container .row .col100 .inputBox textarea:valid~.line {
    height: 100%;
}

.contact .container .row .col100 .fieldBTN {
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.contact .container .row .col100 .fieldBTN p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin: 15px 0;
}

.contact .container .row .col100 .fieldBTN .btn,
.contact .container .row .col100 .fieldBTN a {
    background: #f29200;
    color: #ffffff;
    padding: 10px 29px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
    font-size: 15px;
    width: 100%;
    border: none;
}

.contact .container .row .col100 .fieldBTN a.whatsapp {
    background: #25D366;
    margin-top: 0px;
}

.contact .container .row .col100 .fieldBTN .btn:hover,
.contact .container .row .col100 .fieldBTN a:hover {
    letter-spacing: 5px;
}

@media (max-width: 991px) {
    .contact .container {
        padding: 0px 20px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .contact .container .row {
        display: block;
    }

    .contact .container .row .col50 {
        width: 100%;
        margin-bottom: 0px;
    }

    .contact .container .row .col50:nth-child(1) {
        margin-right: 0px;
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 40px;
    background: #2f4f4f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 5;
    flex: none;
    flex-direction: column;
    overflow: hidden;
}

footer .container {
    display: flex;
}

footer .container .about {
    width: 80%;
}

footer .container .fieldBTN {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .fieldBTN .btn {
    background: #f29200;
    color: #ffffff;
    padding: 10px 29px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
    font-size: 15px;
}

footer .fieldBTN .btn:hover {
    letter-spacing: 5px;
}

footer .container h2 {
    position: relative;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

footer .container h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f29200;
}

footer p {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #ffffff;
}

footer .container .links {
    position: relative;
    width: 20%;
}

footer .container .links ul li {
    list-style: none;
}

footer .container .links ul li a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .container .links ul li a:hover {
    color: #f29200;
}

.copyrightText {
    width: 100%;
    background: #203636;
    padding: 25px 100px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    z-index: 6;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: none;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 991px) {
    footer {
        padding: 50px 20px 10px 20px;
    }

    footer .container {
        display: block;
    }

    footer .container .about {
        width: 100%;
    }

    footer .container .links {
        display: none;
    }

    .copyrightText {
        padding: 25px 25px 25px 25px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .footer {
        padding: 30px 20px 10px 20px;
    }

    footer .container .fieldBTN {
        display: grid;
    }

    footer .container .fieldBTN .btn {
        text-align: center;
    }

    footer .container .fieldBTN .btn:hover {
        letter-spacing: 4px;
    }

    .copyrightText {
        padding: 25px 25px 25px 25px;
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    footer .container .fieldBTN .btn {
        margin-top: 10px;
    }
}