@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
    font-family: 'Lato', sans-serif;
}

:root {
    --tertiary-color: #03A9F4;
}

h1 {
    font-size: 22px;
    font-weight: 400;
}

p {
    font-size: 19px;
    font-weight: 300;
    font-style: italic;
}

.btn-primary {
    display: block;
    cursor: pointer;
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 10px;
    padding: 15px 30px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-decoration: none;
    border: 3px solid transparent;
    transition: all 0.5s ease-in-out;
    background: var(--tertiary-color);
}

.btn-primary:hover {
    color: var(--tertiary-color);
    background: transparent;
    border: 3px solid var(--tertiary-color);
}

.title {
    width: 100%;
    padding: 0 100px;
    position: relative;
    margin-bottom: 70px;
}

.title.white h2,
.title.white p {
    color: #ffffff;
}

.title h2 {
    font-size: 35px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.title h2 span {
    color: var(--tertiary-color);
}

.title h2::after {
    content: "";
    left: 0;
    right: 0;
    width: 70px;
    height: 5px;
    display: block;
    position: absolute;
    margin: 5px auto auto auto;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--tertiary-color);
}

.title p {
    text-align: center;
}

@media (max-width: 991px) {
    .title {
        padding: 0;
        margin-bottom: 50px;
    }

    .title h2 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .title {
        width: 100%;
        padding: 0px;
        margin-bottom: 30px
    }

    .title h2 {
        font-size: 26px;
    }
}

.inputBox {
    z-index: 6;
    width: 100%;
    height: 40px;
    color: #000000;
    position: relative;
    margin-bottom: 30px;
}

.inputBox input,
.inputBox.textarea textarea {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    box-shadow: none;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    background: transparent;
}

.inputBox .text {
    top: 0;
    left: 0;
    padding: 0;
    display: block;
    font-size: 18px;
    transition: 0.5s;
    line-height: 40px;
    position: absolute;
    pointer-events: none;
}

.inputBox input:focus+.text,
.inputBox input:valid+.text {
    top: -35px;
}

.inputBox .line {
    bottom: 0;
    width: 100%;
    height: 1px;
    display: block;
    transition: 0.5s;
    position: absolute;
    border-radius: 5px;
    pointer-events: none;
    background: var(--tertiary-color);
}

.inputBox input:focus~.line,
.inputBox input:valid~.line {
    height: 100%;
}

.inputBox.textarea {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    position: relative;
}

.inputBox.textarea textarea {
    height: 80%;
    resize: none;
}

.inputBox textarea:focus+.text,
.inputBox textarea:valid+.text {
    top: -35px;
}

.inputBox textarea:focus~.line,
.inputBox textarea:valid~.line {
    height: 100%;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    z-index: 1000;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

header.up.sticky {
    top: 0px;
}

header.sticky {
    top: -100px;
    position: fixed;
    padding: 20px 40px;
    background: #ffffff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

header .logo {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

header .logo h1 {
    font-size: 30px;
    color: #000000;
    letter-spacing: 2px;
    text-decoration: none;
}

header .logo h1 span {
    color: var(--tertiary-color);
    transition: all 0.5s ease-in-out;
}

header.sticky .logo h1 {
    color: #000000;
}

header.top .menu {
    top: 0px;
    left: -100%;
    width: 100%;
    z-index: 999;
    height: 100vh;
    display: block;
    position: fixed;
    text-align: center;
    padding: 150px 50px;
    background: #ffffff;
    transition: all 0.5s ease-in-out;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

header.top .menu.active {
    left: 0;
}

/* header.sticky+.menu.active {
    top: 0px;
} */

header.top ul li a {
    margin: 10px;
    color: #000000;
}

header.top ul li:hover a:hover,
header.top ul li.active a {
    color: #000000;
}

header.top .toggle {
    width: 53px;
    height: 50px;
    display: flex;
    z-index: 1001;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    align-items: center;
    background: #ffffff;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.17);
}

header.top .toggle span {
    left: 8px;
    width: 35px;
    height: 4px;
    position: absolute;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    background: var(--tertiary-color);
}

header.top .toggle span:nth-child(1) {
    transform: translateY(-14px);
    width: 25px;
    left: 8px;
}

header.top .toggle span:nth-child(2) {
    transform: translateY(14px);
    width: 15px;
    left: 8px;
}

header.top .toggle.active span:nth-child(1) {
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
    left: 5px;
}

header.top .toggle.active span:nth-child(2) {
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
    left: 5px;
}

header.top .toggle.active span:nth-child(3) {
    transform: translateX(60px);
}

header ul {
    display: flex;
    position: relative;
}

header ul li {
    list-style: none;
    position: relative;
}

header ul li a {
    padding: 8px;
    font-size: 19px;
    font-weight: 400;
    color: #000000;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
}

header ul li a::after {
    content: '';
    left: 0;
    width: 0%;
    z-index: 5;
    height: 3px;
    bottom: 0px;
    position: absolute;
    background: var(--tertiary-color);
    transition: all 0.3s ease-in-out;
}

header ul li a:hover::after,
header ul li.active a::after {
    width: 100%;
}

header.sticky ul li a {
    color: #000000;
}

@media (max-width: 991px) {

    header,
    header.sticky {
        z-index: 1000;
        padding: 20px;
    }

    .menu {
        top: 0px;
        left: -100%;
        width: 100%;
        z-index: 999;
        height: 100vh;
        display: block;
        position: fixed;
        text-align: center;
        padding: 150px 50px;
        background: #ffffff;
        transition: all 0.5s ease-in-out;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header.sticky+.menu.active {
        top: 0px;
    }

    header ul li a {
        margin: 10px;
        font-size: 20px;
        color: #000000;
    }

    header ul li:hover a:hover,
    header ul li.active a {
        color: #000000;
    }

    header .logo {
        font-weight: 400;
    }

    .toggle {
        width: 53px;
        height: 50px;
        z-index: 1001;
        display: flex;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        align-items: center;
        background: #ffffff;
        justify-content: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.17);
    }

    .toggle span {
        left: 8px;
        width: 35px;
        height: 4px;
        position: absolute;
        border-radius: 4px;
        background: var(--tertiary-color);
        transition: all 0.5s ease-in-out;
    }

    .toggle span:nth-child(1) {
        transform: translateY(-14px);
        width: 25px;
        left: 8px;
    }

    .toggle span:nth-child(2) {
        transform: translateY(14px);
        width: 15px;
        left: 8px;
    }

    .toggle.active span:nth-child(1) {
        width: 40px;
        transform: translateY(0px) rotate(45deg);
        transition-delay: 0.125s;
        left: 5px;
    }

    .toggle.active span:nth-child(2) {
        width: 40px;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25s;
        left: 5px;
    }

    .toggle.active span:nth-child(3) {
        transform: translateX(60px);
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {

    header,
    header.sticky {
        padding: 10px;
    }

    header .logo h1 {
        display: flex;
        color: #ffffff;
        flex-direction: column;
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {

    .menu {
        width: 100%;
        padding: 50px 0;
        overflow-y: scroll;
    }

    .menu::-webkit-scrollbar {
        display: none;
    }

    header,
    header.sticky {
        padding: 20px 10px;
    }

    header .logo h1 {
        color: #ffffff;
    }
}

@media screen and (min-device-width: 480px) and (max-device-width: 768px) {

    header .logo h1 {
        font-size: 22px;
    }
}

footer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #1f2b44;
    padding: 50px 40px 50px 40px;
}

footer .footer-container {
    display: grid;
    grid-gap: 15px;
    position: relative;
    grid-template-columns: 5fr 1fr;
}

footer .footer-container .footer-container-about {
    width: 80%;
}

footer .footer-container .footer-container-links h1,
footer .footer-container .footer-container-about h1 {
    font-size: 35px;
    margin-bottom: 15px;
    color: var(--tertiary-color);
}

footer .footer-container .footer-container-links p,
footer .footer-container .footer-container-about p {
    color: #ffffff;
}

footer .footer-container .footer-container-about p a {
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    font-style: normal;
    transition: all 0.5s ease-in-out;
}

footer .footer-container .footer-container-about p a:hover {
    color: var(--tertiary-color);
}

footer .footer-container .footer-container-links {
    position: relative;
}

footer .footer-container .footer-container-links ul li {
    list-style: none;
}

footer .footer-container .footer-container-links ul li a {
    color: #ffffff;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

footer .footer-container .footer-container-links ul li a:hover {
    color: var(--tertiary-color);
}

footer .footer-container-btn {
    display: grid;
    padding: 30px 0 0 0;
    align-items: center;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

footer .footer-container-btn .btn-primary {
    color: #ffffff;
    margin: 10px 0 0 0;
    background: var(--tertiary-color);
    border: 3px solid var(--tertiary-color);
}

footer .footer-container-btn .btn-primary:hover {
    color: #ffffff;
    background: transparent;
    border: 3px solid #ffffff;
}

.copyrightText {
    flex: none;
    width: 100%;
    display: flex;
    font-size: 19px;
    flex-wrap: wrap;
    color: #ffffff;
    overflow: hidden;
    font-weight: 400;
    position: relative;
    text-align: center;
    padding: 25px 100px;
    flex-direction: column;
    background: var(--tertiary-color);
}


@media (max-width: 991px) {

    footer {
        padding: 50px 20px 40px 20px;
    }

    footer .footer-container {
        display: block;
    }

    footer .footer-container .footer-container-about {
        width: 100%;
    }

    footer .footer-container .footer-container-links {
        display: none;
    }

    footer .footer-container-btn {
        padding-top: 20px;
    }

    .copyrightText {
        padding: 25px 25px 25px 25px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {

    .footer {
        padding: 50px 10px 40px 10px
    }

    footer .footer-container-btn {
        display: block;
    }

    footer .footer-container .footer-container-about {
        overflow: hidden;
    }

    .copyrightText {
        padding: 25px 25px 25px 25px;
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {

    footer {
        padding: 50px 10px 40px 10px;
    }

    footer .footer-container-btn {
        grid-column-gap: 10px;
    }

    footer .footer-container .footer-container-btn .btn {
        margin-top: 10px;
    }
}